@media all and (min-width: 700px){
    #header{
        height: 106px;
    }

    #logo{
        margin-left: 100px;
        margin-top: 27px;
        width: 151px;
        height: 50px;
    }

    .desktopnav{
        display: inline;
        position: absolute;
        right: 100px;
        top: 46px;
        font: 900 18px 'Source Sans Pro';
    }
    
    .desktopnav a{
        color: #f7f7f7;
        text-decoration: none;
        padding-left: 15px;
        padding-right: 15px;
    }

    .mobilenav{
        display: none;
    }
    
    .home{
        height: 700px;
    }
    
    h1{
        font: 900 48px 'Source Sans Pro';
        top: 231px;
    }
    
    h2{
        font: italic 24px DroidSerif;
        top: 294px;
    }
    
    .arrow{
        margin-left: -24.5px;
        top: 445px;
    }
    
    .arrow img{
        width: 49px;
    }
    
    #siluet{
        background-image: url(images/siluetdesktop.png);
        height: 216px;
    }
    .panel1{
        height: 575px;
    }
    #iphone{
        background-image:url(images/s/iphonedes.png);
        height: 393px;
        width: 150px;
        position: absolute;
        left: 1122px;
        right: 328px;
        top: 91px;
    }
    #man449{
        background-image:url(images/man449des.png)
        height: 55px;
        width: 47px;
        position: absolute;
        left: 215px;
        top: 117;
    } 
    #panel1txt{
    font: 400 13px 'Source Sans Pro';
    position: absolute;
    left: 215px;
    top: 214px;
    width: 768px;
    height: 164px;
    }
}