#header{
    width: 100%;
    height: 40px;
    background-color: #acd373;
}

#logo{
    margin-left: 30px;
    margin-top: 8px;
    width: 70px;
    height: 23px;
}

.desktopnav{
    display: none;
}

.mobilenav{
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #89a85c;
    width: 40px;
    height: 40px;
}

.mobilenav img{
    margin-left: 15px;
    margin-top: 15px;
}

.home{
    width: 100%;
    background-color: #9abd67;
    height: 350px;
    position: relative;
}

#sixteenheader{
    font: 700 20px 'Source Sans Pro';
    color: #f7f7f7;
    position: absolute;
    top: 125px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

#jakarta{
    font: italic 13px DroidSerif;
    color: #f7f7f7;
    position: absolute;
    top: 156px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

#arrow-wrapper{
    width: 100%;
}

.arrow{
    position: absolute;
    left: 50%;
    margin-left: -12.5px;
    top: 223px;
}

#siluet{
    width: 100%;
    height: 85px;
    position: absolute;
    bottom: 0px;
    background-image: url(images/siluet.png);
}
.panel1{
 width: 100%;
    background-color: #f7f7f7;
    height: 500px;
    position: relative;   
}
#iphone{
    background-image:url(images/iphone.png);
    height:207px;
    width:78px;
    position: absolute;
    left:141px;
    top:43px;
}
#man449{
    background: url(images/man449des.png);
    height: 30px;
    width: 25px;
    position: absolute;
    left: 29px;
    top: 286px;
}
#panel1txt{
    font: 400 13px 'Source Sans Pro';
    position: absolute;
    left: 29px;
    top: 338px;
}
.video{
    width: 100%;
    background: url(images/Background.png);
    height: 261px;
    position: relative;
    
   
}
#playbutton{
    position: absolute;
    left: 139px;
    top: 96px;
 
}
.services{
    width: 100%;
    height: 500px;
    background-color: #f7f7f7;
}
#servicehead{
    width: 100%;
}
#servicesFlex{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.serviceFlexItem{
    flex: 0 auto;
    width: 350px;
    position: relative;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.flexDesktop{
    display: none;
}

.serviceFlexItem img{
    float: left;
    padding-right: 25px;
}

.serviceFlexItem img.smallImage{
    padding-left: 14px;
    padding-right: 38px;    
}

.serviceFlexItem span{
    font: 700 18px 'Source Sans Pro';
    color: #acd373;
    position: absolute;
}

.serviceFlexItem p{
    font: 400 16.77px 'Source Sans Pro';
    line-height: 16.77px;
    color: #454545;
    position: absolute;
    width: 275px;
    display: inline-block;
    margin-top: 12px;
}
.team{
    width: 100%;
    height: 485px;
    background-color: #acd373;
}
#teamhead{
    position: relative;
    text-align: center;
}
#teamqote{
    position: relative;
    text-align: center
}

#teamFlex{
    justify-content: center;
    
}

.teamFlexItem{
    flex: 0 auto;
    width: 350px;
    position: relative;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
}


.teamFlexItem img{
    float: none;
    padding-right: 25px;
}



.teamFlexItem span{
    font: 700 18px 'Source Sans Pro';
    color: #acd373;
    position: relative;
}

.teamFlexItem p{
    font: 400 16.77px 'Source Sans Pro';
    line-height: 16.77px;
    color: #454545;
    position: relative;
    width: 275px;
    display: inline-block;
    margin-top: 12px;
}
.teamFooter{
    width: 100%;
    height: 66px;
    background-color: #9abd67;
}


.works{
   width: 100%;
    height: 520px;
    background-color: #f7f7f7;
}
.worksFooter{
    width: 100%;
    height: 80px;
    background-color: #ebebeb;
}
.testimonial{
    width: 100%;
    height: 562px;
    background-image:url(images/testbackground.png)
}
.blog{
    width: 100%;
    height: 665px;
    background-color: #f7f7f7;
}
.blogbutton {
    width: 270px;
    height: 50px;
    background-color: #acd373;
    color: #f7f7f7;
    font: italic 14px DroidSerif;
}
.blogfooter{
    width: 100%;
    height: 110px;
    background-color: #acd373;
}
.map{
    width: 100%;
    height: 129px;
    background-image:url(images/MAPSbackground.png);
}
.contact{
    width: 100%;
    height: 450px;
    background-color: #acd373;
}
.footer{
    width: 100%;
    height: 100px;
    background-color: #9abd67;
}